/* text colors */
.text-primary{
    color: #28a745;
}
.text-secondary{
    color: #0284d0;
}
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;;
}
.btn-primary,.bg-primary{
    background-color:#28a745 ;
    color: #fff;
}
.btn-outline{
    color: #f4f4f4;
    background-color: rgba(40, 167, 70, 0.9);
    border: 1px solid rgb(0, 0, 0, .4);
    transition-duration: .3s;
}
.btn-outline:hover{
    transform: translateX(10px);
}
.btn-secondary,.bg-secondary{
   background-color: #0284d0; 
   color: #fff;
}
.btn-dark,.bg-dark{
   background-color: #333; 
   color: #fff;
}
.btn-light,.bg-light{
   background-color: #f4f4f4; 
   color: #333;
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.align h4{
    font-size: 20px;
}
.align h2{
    font-size: 30px;
}
.align p{
    font-size: 18px;
}

.flex-items{
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 100%;
}
.flex-items>div{
    padding: 20px;
}
.flex-columns .column-1,.flex-columns .column-2{
    width: 50%;
    
}

.flex-columns .columns{
    display: flex;
    flex-wrap: wrap;
}

 .section-header{
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

 .section-padding{
     padding: 5px;
 }
 